# Ensure non-code assets are included in source distributions
include LICENSE.md
include pyproject.toml
include requirements-local.txt

# Project documentation
include lstar/README.md

# Package sources
recursive-include lstar *.py
recursive-include lstar *.md

# Vendored dependency wheels
recursive-include py *.whl
